node_modules/
dist/
dist-server/
.env
.env.*
!.env.example
tsconfig.tsbuildinfo
*.log
.DS_Store
coverage/
android/app/release/
android/gradle.properties
android/app/capacitor.build.gradle
android/capacitor.settings.gradle
tsconfig.tsbuildinfo
*.keystore
*.jks
